__pycache__
Makefile
TODO*
common.txt
doc/_build
bin/eva-shell
etc/eva_servers
etc/watchdog
etc/*.ini
dev
dist
lib/ei/css/ei.min.css
lib/ei/js/lm.min.js
lib/ei/js/uc.min.js
lib/eva/uc/drivers
lib/eva/lm/extensions
ui/js/eva_sfa.min.js
log
runtime
xc/uc
xc/lm
var
backup
etc/easy_setup
xc/extensions/generic.py
xc/drivers/lpi/generic_lpi.py
xc/drivers/phi/generic_phi.py
apidoc
api-tests
