__pycache__
Makefile
TODO*
common.txt
doc/_build
bin/eva-shell
etc/eva_servers
etc/watchdog
etc/*.ini
etc/venv
keys
dist
lib/ei/css/ei.min.css
lib/ei/js/lm.min.js
lib/ei/js/uc.min.js
lib/eva/uc/drivers
lib/eva/lm/extensions
ui/js/eva_sfa.min.js
log
runtime
xc/uc
xc/lm
xc/sfa
var
backup
etc/easy_setup
xc/extensions/generic.py
xc/drivers/lpi/generic_lpi.py
xc/drivers/phi/generic_phi.py
apidoc
api-tests
python3
bin/lm-cmd
bin/sfa-cmd
bin/test-ext
bin/test-phi
bin/test-uc-xc
bin/uc-cmd
bin/uc-tpl
sbin/check-mqtt
sbin/get-setup-options
sbin/layout-converter
sbin/eva-update-tables
tests/benchmark-uc-crt
lib/eva/plugins
