{% extends "_ei.j2" %}
{%- set menu = [
    {
        'id': 'lvars',
        'title': 'Show lvars',
        'action': 'show_lvars()'
    },
    {
        'id': 'macros',
        'title': 'Show macros',
        'action': 'show_macros()'
    },
    {
        'id': 'rules',
        'title': 'Show rules'
    }
] %}
{%- set toolmenu_height = 470 %}
{%- set boards = [ 'lvars', 'macros', 'rules' ] %}
{% block props %}
// json refresh for items
jrInterval = 2000;
// json refresh for sysinfo
srInterval = 15000;
// timer refresh
trInterval = 200;
// json refresh for log
lrInterval = 2000;
// disable websockets
disable_ws = false
// default API key
apikey = ''
{% endblock %}
{% block toolbars %}
<div class="col-xs-10 col-sm-7" id="toolbar_lvars"
                                style="display: none">
    <select id="s_lvar_group" data-role="none" class="st1"
                        onchange="load_lvars()"></select>
    <img id="tbtn_reload_lvars" src="i/reload.png" class="tbtn_l"
            alt="Reload" title="Reload"
            onclick="reload_lvars()" />
</div>
<div class="col-xs-10 col-sm-7" id="toolbar_macros"
                                style="display: none">
    <select id="s_macro_group" data-role="none" class="st1"
                        onchange="load_macros()"></select>
    <img id="tbtn_reload_macros" src="i/reload.png" class="tbtn_l"
            alt="Reload" title="Reload"
            onclick="reload_macros()" />
</div>
<div class="col-xs-10 col-sm-7" id="toolbar_rules"
                                style="display: none">
    <button class="st0"
        onclick='edit_rule_dialog()'
        style="width: 120px; font-weight: bold; vertical-align: super;">NEW RULE</button>
    <select id="s_rule_group" data-role="none" class="st1"
                        onchange="load_rules()"></select>
    <img id="tbtn_reload_rules" src="i/reload.png" class="tbtn_l"
            alt="Reload" title="Reload"
            onclick="reload_rules()" />
</div>
{% endblock %}
