{% extends "default.j2" %}
{% block props %}
// json refresh for items
jrInterval = 2000;
// json refresh for sysinfo
srInterval = 15000;
// timer refresh
trInterval = 200;
// json refresh for log
lrInterval = 2000;
// disable websockets
disable_ws = false
// default API key
apikey = ''
{% endblock %}
{% block head %}
<style type="text/css">
@media(max-width: 991px) {
    #toolmenu { height: 470px; }
}
</style>
{% endblock %}
{% block toolbars %}
   <div class="col-xs-10 col-sm-7" id="toolbar_lvars"
                                style="display: none">
    <select id="s_lvar_group" data-role="none" class="st1"
                        onchange="load_lvars()"></select>
    <img id="tbtn_reload_lvars" src="i/reload.png" class="tbtn_l"
            alt="Reload" title="Reload"
            onclick="reload_lvars()" />
</div>
<div class="col-xs-10 col-sm-7" id="toolbar_macros"
                                style="display: none">
    <select id="s_macro_group" data-role="none" class="st1"
                        onchange="load_macros()"></select>
    <img id="tbtn_reload_macros" src="i/reload.png" class="tbtn_l"
            alt="Reload" title="Reload"
            onclick="reload_macros()" />
</div>
<div class="col-xs-10 col-sm-7" id="toolbar_rules"
                                style="display: none">
    <button class="st0"
        onclick='edit_rule_dialog()'
        style="width: 120px; font-weight: bold;">NEW RULE</button>
    <img id="tbtn_reload_rules" src="i/reload.png" class="tbtn_l"
            alt="Reload" title="Reload"
            onclick="reload_rules()" />
</div>
{% endblock %}
{% block menu %}
<img id="tbtn_lvars" src="i/lvar.png" class="tbtn"
        alt="LVars" title="Show lvars"
        onclick="
        safe_close_tool_menu();
        show_lvars()
        " />
<img id="tbtn_macros" src="i/macros.png"
        alt="Macros" title="Show macros"
        class="tbtn"
        onclick="
        safe_close_tool_menu();
        show_macros()
        " />
<img id="tbtn_rules" src="i/rules.png"
        alt="Rules" title="Show rules"
        class="tbtn disabled" />
{% endblock %}
{% block boards %}
<div class="row board" id="b_lvars" style="display: none"></div>
<div class="row board" id="b_macros" style="display: none"></div>
<div class="row board" id="b_rules" style="display: none"></div>
{% endblock %}
