{% extends "_ei.j2" %}
{%- set menu = [
    {
        'id': 'units',
        'title': 'Show units',
        'action': 'show_units()'
    },
    {
        'id': 'sensors',
        'title': 'Show sensors',
        'action': 'show_sensors()'
    }
] %}
{%- set toolmenu_height = 400 %}
{%- set boards = [ 'units', 'sensors' ] %}
{% block props %}
// json refresh for items
jrInterval = 5000;
// json refresh for sysinfo
srInterval = 15000;
// json refresh for log
lrInterval = 2000;
// disable websockets
disable_ws = false
// default API key
apikey = ''
{% endblock %}
{% block toolbars %}
<div class="col-xs-10 col-sm-7" id="toolbar_units"
                                style="display: none">
    <select id="s_unit_group" data-role="none" class="st1"
                        onchange="load_units()"></select>
    <img id="tbtn_reload_units" src="i/reload.png" class="tbtn_l"
            alt="Reload" title="Reload"
            onclick="reload_units()" />
</div>
<div class="col-xs-10 col-sm-7" id="toolbar_sensors"
                                style="display: none">
    <select id="s_sensor_group" data-role="none" class="st1"
                        onchange="load_sensors()"></select>
    <img id="tbtn_reload_sensors" src="i/reload.png" class="tbtn_l"
            alt="Reload" title="Reload"
            onclick="reload_sensors()" />
</div>
{% endblock %}
