{% extends "_ei.j2" %}
{% block props %}
// json refresh for items
jrInterval = 5000;
// json refresh for sysinfo
srInterval = 15000;
// json refresh for log
lrInterval = 2000;
// disable websockets
disable_ws = false
// default API key
apikey = ''
{% endblock %}
{% block head %}
<style type="text/css">
@media(max-width: 991px) {
    #toolmenu { height: 400px; }
}
</style>
{% endblock %}
{% block toolbars %}
<div class="col-xs-10 col-sm-7" id="toolbar_units"
                                style="display: none">
    <select id="s_unit_group" data-role="none" class="st1"
                        onchange="load_units()"></select>
    <img id="tbtn_reload_units" src="i/reload.png" class="tbtn_l"
            alt="Reload" title="Reload"
            onclick="reload_units()" />
</div>
<div class="col-xs-10 col-sm-7" id="toolbar_sensors"
                                style="display: none">
    <select id="s_sensor_group" data-role="none" class="st1"
                        onchange="load_sensors()"></select>
    <img id="tbtn_reload_sensors" src="i/reload.png" class="tbtn_l"
            alt="Reload" title="Reload"
            onclick="reload_sensors()" />
</div>
{% endblock %}
{% block menu %}
<img id="tbtn_units" src="i/unit.png" class="tbtn"
        alt="Units" title="Show units"
        onclick="
        safe_close_tool_menu();
        show_units()
        " />
<img id="tbtn_sensors" class="tbtn" src="i/sensor.png"
        alt="Sensors" title="Show sensors"
        onclick="
        safe_close_tool_menu();
        show_sensors()
        " />
{% endblock %}
{% block boards %}
<div class="row board" id="b_units" style="display: none"></div>
<div class="row board" id="b_sensors" style="display: none"></div>
{% endblock %}
