[Unit]
Description=EVA ICS
Wants=eva-ics-registry.service
After=eva-ics-registry.service

[Service]
Type=forking
User=root
WorkingDirectory=/opt/eva
ExecStart=/opt/eva/sbin/eva-control start
ExecStop=/opt/eva/sbin/eva-control stop
Restart=no
TimeoutStartSec=180

[Install]
WantedBy=multi-user.target
