<html>
  <head>
   <title>EVA ICS Cloud Manager</title>
    <link rel="stylesheet" href="css/eva_sfa.css" />
    <link rel="stylesheet" href="css/cm.css" />
    <link rel="stylesheet" href="lib/bootstrap.min.css" />
    <script src="lib/jquery.min.js"></script>
    <script src="js/eva_sfa.js"></script>
    <script src="js/cm.js"></script>
    <script src="lib/moment.min.js"></script>
    <script src="lib/chart.min.js"></script>
  </head>
  <body>
   <div id="popup"></div>
   <div id="main" class="container" style="display: none; margin-top: 10px;">
        <div class="row">
            <div class="col-sm-12 col-md-5">
              <div id="controller-list" style="margin-bottom: 20px">
                <div>
                  Universal Controllers
                  <span id="ucs"></span>
                </div>
                <div>
                  Logic Manager PLCs
                  <span id="lms"></span>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-md-7">
                <table id="tbl-remote-items" class="tbl-items">
                    <thead>
                        <tr class="tbl-items-hdr">
                            <td width="160">Controller</td>
                            <td width="60">Type</td>
                            <td width="395">Item ID</td>
                            <td width="60">S</td>
                            <td width="60">V</td>
                        </tr>
                    </thead>
                    <tbody id="tbl-remote-items-body">
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin-top: 10px">
            <div class="col-xs-12">
                <table id="tbl-remote-cycles" class="tbl-items">
                    <thead>
                        <tr class="tbl-items-hdr">
                            <td width="160">Controller</td>
                            <td width="350">Cycle ID</td>
                            <td width="110">Status</td>
                            <td width="160">Interval</td>
                            <td width="160">Average</td>
                        </tr>
                    </thead>
                    <tbody id="tbl-remote-cycles-body">
                    </tbody>
                </table>
            </div>
        </div>
        <div style="margin-top: 50px;"></div>
        <div class="row">
            <div id="logr" class="col-xs-12"></div>
        </div>
        <div class="row" id="version_info">
            <div class="col-xs-12">
                EVA ICS Cloud Manager version: <span id="i_version"></span>
                build <span id="i_build"></span>.
                <a href="https://www.eva-ics.com/">EVA ICS</a>
                Copyright &copy; 2012-2018
                <a href="https://www.altertech.com/">Altertech Group</a>
            </div>
        </div>
    </div>
  <script type="text/javascript">
    eva_sfa_init();
    // TESTS
    eva_sfa_apikey="c31854193a16906f5ceee99928259ab071a5aeb0b450517fd09e656dece048d1";
    eva_sfa_cb_login_success = function(data) {
      if (!eva_sfa_server_info.acl.master) {
          logout();
          eva_sfa_popup('popup',
            'error', 'Access denied', 'Masterkey is required', {'ct':5});
      } else {
        start();
      }
    }
    eva_sfa_start();
  </script>
  </body>
</html>
