<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>EVA ICS Cloud Manager</title>
    <link rel="stylesheet" href="css/eva_sfa.css" />
    <link rel="stylesheet" href="css/cm.css" />
    <link rel="stylesheet" href="lib/bootstrap.min.css" />
    <link rel="stylesheet" href="lib/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/jquery.dataTables.min.js"></script>
    <script src="js/eva_sfa.js"></script>
    <script src="js/cookie.js"></script>
    <script src="js/cm.js"></script>
    <script src="lib/moment.min.js"></script>
    <script src="lib/chart.min.js"></script>
    <script src="js/nanoscroller.js"></script>
    <script src="js/script.js"></script>
  </head>
  <body>
   <div id="popup"></div>
   <div id="loginform" style="display: none;">
       <form action="#" onsubmit="do_login(); return false">
       Login: <input type="text" size="10" id="f_login" /><br />
       Password: <input type="password" size="10" id="f_password" /><br />
       <label for="f_remember">Remember</label>
       <input type="checkbox" id="f_remember" />
       <input type="submit" value="GO" />
       </form>
    </div>
    <div id="main" style="display: none;">

      <div class="header">
        <a href="" class="logo"></a>
        <div class="header_menu">
          <a href="">Dashboard</a>
          <a href="javascript:void(0)" onclick="stop()">Logout</a>
        </div>
      </div>

      <div class="page_content containers">

        <div class="content_frame">

          <div class="controllers_block">
            <div class="controllers_holder">
              <div class="nano">
                <div class="nano-content">
                  <div class="btn collapse_btn" data-toggle="collapse" 
                    data-target="#ucs" aria-expanded="true" 
                    onclick="enableScroll(200)">
                    Universal Controllers
                  </div>
                  <div class="collapse show controller_holder" id="ucs"></div>
                  <div class="btn collapse_btn" data-toggle="collapse" 
                    data-target="#lms" aria-expanded="true" 
                    onclick="enableScroll(200)">
                    Logic Manager PLCs
                  </div>
                  <div class="collapse show controller_holder" id="lms"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="elements_block">

            <div class="list-group" role="tablist" id="d_tbars"></div>

            <div class="tab-content"></div>

          </div>

          <div class="log_block">
            <div class="nano">
              <div id="logr" class="nano-content">            
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

    <div class="footer">
      <div class="containers" id="version_info">
        <div>
          EVA ICS Cloud Manager version: <span id="i_version"></span>
          build <span id="i_build"></span>. 
        </div>
        <div>
          <a href="https://www.eva-ics.com/">EVA ICS</a>
          Copyright &copy; 2012-2018
          <a href="https://www.altertech.com/">Altertech Group</a>
        </div>
      </div>
    </div>
  </body>
</html>
