.eva-sfa-cssload-square {
    margin: 123px auto;
    width: 35px;
    height: 35px;
    transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
}


.eva-sfa-cssload-square-part {
    position: absolute;
    width: 35px;
    height: 35px;
    z-index: 1;
    animation: eva-sfa-cssload-part-anim 0.8s
        cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    -o-animation: eva-sfa-cssload-part-anim 0.8s
        cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    -ms-animation: eva-sfa-cssload-part-anim 0.8s
        cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    -webkit-animation: eva-sfa-cssload-part-anim 0.8s
        cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    -moz-animation: eva-sfa-cssload-part-anim 0.8s
        cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}


.eva-sfa-cssload-square-green {
    background: rgb(58,176,234);
    right: 0;
    bottom: 0;
    animation-direction: alternate-reverse;
        -o-animation-direction: alternate-reverse;
        -ms-animation-direction: alternate-reverse;
        -webkit-animation-direction: alternate-reverse;
        -moz-animation-direction: alternate-reverse;
}


.eva-sfa-cssload-square-pink {
    background: rgb(96,148,204);
    left: 0;
    top: 0;
}


.eva-sfa-cssload-square-blend {
    background: rgb(255,255,255);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    animation: eva-sfa-blend-anim 0.8s ease-in infinite;
        -o-animation: eva-sfa-blend-anim 0.8s ease-in infinite;
        -ms-animation: eva-sfa-blend-anim 0.8s ease-in infinite;
        -webkit-animation: eva-sfa-blend-anim 0.8s ease-in infinite;
        -moz-animation: eva-sfa-blend-anim 0.8s ease-in infinite;
}


@keyframes eva-sfa-blend-anim {
    0% {
        transform: scale(0.01, 0.01) rotateY(0);
        animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }
    50% {
        transform: scale(1, 1) rotateY(0);
        animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    100% {
        transform: scale(0.01, 0.01) rotateY(0);
    }
}


@-o-keyframes eva-sfa-blend-anim {
    0% {
        -o-transform: scale(0.01, 0.01) rotateY(0);
        -o-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }
    50% {
        -o-transform: scale(1, 1) rotateY(0);
        -o-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    100% {
        -o-transform: scale(0.01, 0.01) rotateY(0);
    }
}


@-ms-keyframes eva-sfa-blend-anim {
    0% {
        -ms-transform: scale(0.01, 0.01) rotateY(0);
        -ms-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }
    50% {
        -ms-transform: scale(1, 1) rotateY(0);
        -ms-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    100% {
        -ms-transform: scale(0.01, 0.01) rotateY(0);
    }
}


@-webkit-keyframes eva-sfa-blend-anim {
    0% {
        -webkit-transform: scale(0.01, 0.01) rotateY(0);
        -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }
    50% {
        -webkit-transform: scale(1, 1) rotateY(0);
        -webkit-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    100% {
        -webkit-transform: scale(0.01, 0.01) rotateY(0);
    }
}


@-moz-keyframes eva-sfa-blend-anim {
    0% {
        -moz-transform: scale(0.01, 0.01) rotateY(0);
        -moz-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }
    50% {
        -moz-transform: scale(1, 1) rotateY(0);
        -moz-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    100% {
        -moz-transform: scale(0.01, 0.01) rotateY(0);
    }
}


@keyframes eva-sfa-cssload-part-anim {
    0% {
        transform: translate3d(-18px, -18px, 0);
    }
    100% {
        transform: translate3d(18px, 18px, 0);
    }
}


@-o-keyframes eva-sfa-cssload-part-anim {
    0% {
        -o-transform: translate3d(-18px, -18px, 0);
    }
    100% {
        -o-transform: translate3d(18px, 18px, 0);
    }
}


@-ms-keyframes eva-sfa-cssload-part-anim {
    0% {
        -ms-transform: translate3d(-18px, -18px, 0);
    }
    100% {
        -ms-transform: translate3d(18px, 18px, 0);
    }
}


@-webkit-keyframes eva-sfa-cssload-part-anim {
    0% {
        -webkit-transform: translate3d(-18px, -18px, 0);
    }
    100% {
        -webkit-transform: translate3d(18px, 18px, 0);
    }
}


@-moz-keyframes eva-sfa-cssload-part-anim {
    0% {
        -moz-transform: translate3d(-18px, -18px, 0);
    }
    100% {
        -moz-transform: translate3d(18px, 18px, 0);
    }
}
