/* popup styles */
.eva_sfa_popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(51, 51, 51, 0.5);
	z-index: 2000;
	text-align: center;
	overflow-y: auto;
	overflow-x: hidden;
}

.eva_sfa_popup_window {
	position: relative;
	width: 390px;
	min-height: 275px;
	margin: 0 auto;
	top: 15%;
	background: #ffffff;
}

.eva_sfa_popup_window_big {
	position: relative;
	width: 590px;
	min-height: 275px;
	margin: 0 auto;
	top: 2%;
	background: #ffffff;
}

.eva_sfa_popup_header {
	vertical-align: center;
	font-size: 20px;
	padding: 20px;
}

.eva_sfa_popup_header_error {
	background: #ff5353;
	color: #ffffff;
}

.eva_sfa_popup_header_info {
	background: #009900;
	color: #ffffff;
}

.eva_sfa_popup_header_warning {
	background: #EECC00;
	color: #ffffff;
}

.eva_sfa_popup_header_confirm {
	background: #336699;
	color: #ffffff;
}

.eva_sfa_popup_content {
	margin: 20px;
	padding-bottom: 34px;
	text-align: left;
	font-size: 20px;
	color: #4d4d4d;
    text-align: center;
}

.eva_sfa_popup_footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.eva_sfa_popup_btn {
	width: 104px;
	height: 44px;
	margin: 20px auto;
	
	border-radius: 24px;
	line-height: 40px;
	cursor: pointer;
}

.eva_sfa_popup_btn_error {
	border: 2px solid #ff5353;
	background: #ff5353;
	color: #ffffff;	
}

.eva_sfa_popup_btn_info {
	border: 2px solid #009900;
	background: #009900;
	color: #ffffff;	
}

.eva_sfa_popup_btn_warning {
	border: 2px solid #EECC00;
	background: #EECC00;
	color: #ffffff;	
}

.eva_sfa_popup_btn_confirm {
	border: 2px solid #336699;
	background: #336699;
	color: #ffffff;	
}

.eva_sfa_popup_btn_error:hover {
	background: #d04040;
	border-color: #d04040;
}

.eva_sfa_popup_btn_info:hover {
	background: #007700;
	border-color: #007700;
}

@media(max-width: 767px){
	.eva_sfa_popup_window_big {
		width: 100%;
	}
	.eva_sfa_popup_content {
		padding-bottom: 0;
	}
	.eva_sfa_popup_window {
		min-height: 240px;
	}
}

@media(max-width:575px) {
	.eva_sfa_popup_window {
		width: 100%;
	}
}

@media (max-width: 450px), (max-height: 450px){
	.eva_sfa_popup_window {
		width: 90%;
		min-height: 200px;
	}
}

@media (max-height: 415px){
	.eva_sfa_popup_window {
		top: 15%;
	}
}

@media (max-height: 350px){
	.eva_sfa_popup_window {
		top: 5%;
	}
}

/* load animation styles */
.eva-sfa-cssload-square {
    margin: auto auto;
    width: 35px;
    height: 35px;
    transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
}

.eva-sfa-cssload-square-part {
    position: absolute;
    width: 35px;
    height: 35px;
    z-index: 1;
    animation: eva-sfa-cssload-part-anim 0.8s
        cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    -o-animation: eva-sfa-cssload-part-anim 0.8s
        cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    -ms-animation: eva-sfa-cssload-part-anim 0.8s
        cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    -webkit-animation: eva-sfa-cssload-part-anim 0.8s
        cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
    -moz-animation: eva-sfa-cssload-part-anim 0.8s
        cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}

.eva-sfa-cssload-square-green {
    background: rgb(58,176,234);
    right: 0;
    bottom: 0;
    animation-direction: alternate-reverse;
        -o-animation-direction: alternate-reverse;
        -ms-animation-direction: alternate-reverse;
        -webkit-animation-direction: alternate-reverse;
        -moz-animation-direction: alternate-reverse;
}

.eva-sfa-cssload-square-pink {
    background: rgb(96,148,204);
    left: 0;
    top: 0;
}

.eva-sfa-cssload-square-blend {
    background: rgb(255,255,255);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    animation: eva-sfa-blend-anim 0.8s ease-in infinite;
        -o-animation: eva-sfa-blend-anim 0.8s ease-in infinite;
        -ms-animation: eva-sfa-blend-anim 0.8s ease-in infinite;
        -webkit-animation: eva-sfa-blend-anim 0.8s ease-in infinite;
        -moz-animation: eva-sfa-blend-anim 0.8s ease-in infinite;
}

@keyframes eva-sfa-blend-anim {
    0% {
        transform: scale(0.01, 0.01) rotateY(0);
        animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }
    50% {
        transform: scale(1, 1) rotateY(0);
        animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    100% {
        transform: scale(0.01, 0.01) rotateY(0);
    }
}

@-o-keyframes eva-sfa-blend-anim {
    0% {
        -o-transform: scale(0.01, 0.01) rotateY(0);
        -o-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }
    50% {
        -o-transform: scale(1, 1) rotateY(0);
        -o-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    100% {
        -o-transform: scale(0.01, 0.01) rotateY(0);
    }
}

@-ms-keyframes eva-sfa-blend-anim {
    0% {
        -ms-transform: scale(0.01, 0.01) rotateY(0);
        -ms-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }
    50% {
        -ms-transform: scale(1, 1) rotateY(0);
        -ms-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    100% {
        -ms-transform: scale(0.01, 0.01) rotateY(0);
    }
}

@-webkit-keyframes eva-sfa-blend-anim {
    0% {
        -webkit-transform: scale(0.01, 0.01) rotateY(0);
        -webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }
    50% {
        -webkit-transform: scale(1, 1) rotateY(0);
        -webkit-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    100% {
        -webkit-transform: scale(0.01, 0.01) rotateY(0);
    }
}

@-moz-keyframes eva-sfa-blend-anim {
    0% {
        -moz-transform: scale(0.01, 0.01) rotateY(0);
        -moz-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
    }
    50% {
        -moz-transform: scale(1, 1) rotateY(0);
        -moz-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    }
    100% {
        -moz-transform: scale(0.01, 0.01) rotateY(0);
    }
}

@keyframes eva-sfa-cssload-part-anim {
    0% {
        transform: translate3d(-18px, -18px, 0);
    }
    100% {
        transform: translate3d(18px, 18px, 0);
    }
}

@-o-keyframes eva-sfa-cssload-part-anim {
    0% {
        -o-transform: translate3d(-18px, -18px, 0);
    }
    100% {
        -o-transform: translate3d(18px, 18px, 0);
    }
}

@-ms-keyframes eva-sfa-cssload-part-anim {
    0% {
        -ms-transform: translate3d(-18px, -18px, 0);
    }
    100% {
        -ms-transform: translate3d(18px, 18px, 0);
    }
}

@-webkit-keyframes eva-sfa-cssload-part-anim {
    0% {
        -webkit-transform: translate3d(-18px, -18px, 0);
    }
    100% {
        -webkit-transform: translate3d(18px, 18px, 0);
    }
}

@-moz-keyframes eva-sfa-cssload-part-anim {
    0% {
        -moz-transform: translate3d(-18px, -18px, 0);
    }
    100% {
        -moz-transform: translate3d(18px, 18px, 0);
    }
}
